<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.demo1.mapper.UserMapper">
    <select id="findAll" resultType="com.example.demo.demo1.entities.User">
        SELECT * FROM USERS
    </select>

    <insert id="insertUser" parameterType="com.example.demo.demo1.entities.User">
        INSERT INTO USERS (NAME)
        VALUES (#{user.name})
    </insert>
</mapper>